@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply bg-spotify-dark text-spotify-text;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .btn {
    @apply bg-spotify-green-200 rounded-full px-4 py-2 font-semibold hover:bg-spotify-green-alt;
  }

  .btn-sm {
    @apply text-xs;
  }

  .btn-base {
    @apply text-sm;
  }

  .btn-md {
    @apply text-base;
  }

  .btn-lg {
    @apply text-lg;
  }

  .btn-xl {
    @apply text-xl;
  }
}
